/LibraryApp/nbproject/private/
/FigureApp/nbproject/private/
/WeatherApp_T/WeatherApp/nbproject/private/
/AnimalApp/nbproject/private/
/BankApp/nbproject/private/
/BruchZahlen/nbproject/private/
/FootballManagerApp/nbproject/private/
/BankApp/build/
